@import '../shared/styles/colors';


.team {
  display: block;
  width: 100%;

  app-roster {
    display: inline-block;
    width: 50%;
  }
}

.container {
  display: flex;

  .team-stats {
    position: relative;
    flex: 1 1 50%;
    padding: 1rem;
    font-size: 1.5rem;
  }
}
